<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension point="org.datanucleus.store_manager">
        <store-manager class-name="org.datanucleus.store.neo4j.Neo4jStoreManager" key="neo4j" url-key="neo4j"/>
    </extension>
    <extension point="org.datanucleus.store_connectionfactory">
        <!-- Only register the one, default factory which is now intelligent -->
        <connection-factory name="neo4j" class-name="org.datanucleus.store.neo4j.ConnectionFactoryImpl" transactional="true" datastore="neo4j"/>
    </extension>
    <extension point="org.datanucleus.store_valuegenerator">
        <value-generator name="increment" class-name="org.datanucleus.store.neo4j.valuegenerator.IncrementGenerator" datastore="neo4j"/>
    </extension>
    <extension point="org.datanucleus.persistence_properties">
        <persistence-property name="datanucleus.ConnectionPropertiesFile" datastore="true"/>
    </extension>
</plugin>